.App-header {
  width: 200;
}

.App-Table
{
  display: flex;
  flex:1;
  flex-direction: column;
  min-height: -webkit-min-content;
  overflow: auto;
}



/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.mainCo{
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  
  display: flex;
  justify-content: space-evenly;
}



 